.checkoutform label {
   font-size: 14px !important;
   font-weight: 600;
}



.checkoutform input {
    font-size: 14px !important;
 
 }

.whatapp-chat{
   position: fixed;
   bottom:2% !important;
   left: 0% !important;
   
}